<!-- Our Instructor -->
<section id="ourInstructor" class="bg-primary p-5 text-center">
  <div class="container">
      <h1>Our Instructor</h1>
      <p class="lead"> Our instructors all have 5+ years working as a web developer in the industy</p>
      <div class="row text-center">
          <div class="col-md-3 mt-5" *ngFor="let instructor of instructors">
              <div class="col-mb3">
                  <div class="card bg-light text-dark">
                      <div class="card-body text-center">
                          <div class="h1 mb3">
                              <img class="rounded-circle" [src]="instructor.img" alt="">
                          </div>
                          <h3 class="card-title mb-3">{{ instructor.name }}</h3>
                          <p class="card-text">
                              {{ instructor.desc }}
                          </p>
                          <span *ngFor="let socialMedia of instructor.socialMedia">
                              <span><a href="{{ socialMedia.link }}" class="{{ socialMedia.icon }}"></a></span>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

