<section class="p-5 p-lg-0 pt-lg-5 text-sm-start mt-5 mb-5">
  <div class="container">
    <div class="mt-5">
      <h1 class="text-center">TODO</h1>
      <hr>
      <div class="row">
        <div class="col">
          <app-todo-list
          [todos]="todos"
          (toggleTodo)="onToggleTodo($event)"
          (deleteTodo)="onDeleteTodo($event)"
          (editTodo)="onEditTodo($event)"
          >
        </app-todo-list>
        </div>
        <div class="col">
          <h3>Form</h3>
          <app-todo-form
          (saveTodo)="onSaveTodo($event)"
          [todo]="todo"
          ></app-todo-form>
        </div>
      </div>
    </div>
  </div>
</section>


