<section id="login" class="login">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-title">
            <h3>Login</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  formControlName="email"
                  [ngClass]="{ 'is-invalid': isFormValid('email') }"
                />
                <label for="floatingInput">Email address</label>
                <app-validation-message
                  [control]="loginForm.get('email')"
                  [field]="'email'"
                >
                </app-validation-message>
              </div>
              <div class="form-floating">
                <input
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Password"
                  formControlName="password"
                  type="password"
                  [ngClass]="{ 'is-invalid': isFormValid('password') }"
                />
                <label for="floatingPassword">Password</label>
                <app-validation-message
                  [control]="loginForm.get('password')"
                  [field]="'password'"
                >
                </app-validation-message>
                <div class="mb-3 mt-2 form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                </div>
              </div>
              <div class="d-grid gap-2 btn-login">
                <button
                  class="btn btn-outline-primary"
                  type="submit"
                  [disabled]="!loginForm.valid"
                >
                  LOGIN
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
