<!-- Frequently Asked Questions -->
<section id="learn" class="p-5 text-center">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md p-5 text-center">
              <h3
              [style.color]= "styles.color"
              [style.font-size] = "styles.fontSize"
              [style.font-weight]= "styles.fontWeight"> Frequently Asked Questions</h3>
              <h3 [innerHTML]="subTitle"></h3>
          </div>
          <div class="accordion" id="accordionExample">
              <div class="accordion-item" *ngFor="let faq of faqs; index as i">
                <h2
                class="accordion-header"
                id="headingOne"

                >
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOne' + i" aria-expanded="false" aria-controls="collapseOne">
                    {{ faq.question }}
                  </button>
                </h2>
                <h2 [ngStyle]="styles">DESC</h2>
                <div id="collapseOne{{ i }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>{{ faq.answer }}</p>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
</section>
