<section appHighlight>
  <h1>Component A</h1>
<!-- <a href="/component-b" class="btn btn-outline-primary"> Go to component B</a> -->
<ul class="list-group mb-3">
  <li class="list-group-item"><a routerLink="/demo/component-a/child-aa">child-aa</a></li>
  <li class="list-group-item"><a routerLink="/demo/component-a/child-ab">child-ab</a></li>
</ul>

<router-outlet></router-outlet>

<div class="btn-group">
  <button class="btn btn-outline-primary"> Go To Component B</button>
  <button class="btn btn-outline-warning" [disabled]="isDisabled" (click)="showMe()"> Show me</button>
</div>

<h3>{{ message }}</h3>

<div class="mt-5 mb-5">
  <h3 [innerHTML]="messageHover" (mouseover)="mouseOver()" (mouseout)="mouseOut()"></h3>
</div>

<div class="mb-5">
  <input type="text" class="form-control" (change)="onMessageInput($event)">
</div>

<h3>{{ messageInput }}</h3>
</section>

<!-- <a  routerLink="/demo/component-b" class="btn btn-outline-primary"> Go to component B</a> -->



<!-- <h3>name: {{ name }}</h3>
<h3>address: {{ address }}</h3>
<h3>participants: {{ participants }}</h3>
<h3>languange name: {{ language.name }}</h3>
<h3>languange status: {{ language.status }}</h3>
<h3>languange object view: {{ language.name }} {{ language.status }}</h3>
<h3>languange object view in function : {{ onViewMessage() }}</h3>


<ul class="list-group mt-5">
  <li class="list-group-item" *ngFor="let employee of employees; index as i">
    <span [ngStyle]="{'color': i % 2 == 0 ? 'gold' : 'blue'}">
      {{ employee.name }}
    </span>
  </li>
</ul> -->
