<!-- Become a web developer -->
    <section id="home" class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start mt-5">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>
                        Become a <span class="text-warning"> web developer</span>
                    </h1>
                    <p class="load my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, laudantium minus tempore ad reiciendis sunt voluptas quos eaque officia vero quidem, temporibus saepe nostrum numquam iusto odit? Perspiciatis, nam quae.</p>
                    <p >
                        <button class=" btn btn-primary btn-lg"
                        data-bs-toggle="modal"
                        data-bs-target="#enroll">start</button>
                    </p>
                </div>
                <img src="../../../../assets/images/laptop.png" alt="" class="img-fluid w-50 d-none d-sm-block">
            </div>
        </div>
    </section>
