<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
  /* You can add global styles to this file, and also import other style files */


</style>

<!-- --Toolbar-- -->
<app-toolbar-list></app-toolbar-list>


<div class="content" role="main">

  <!-- -- Highlight -- -->
  <app-highlight-card-list></app-highlight-card-list>

  <!-- --resources-- -->
  <app-resources-list></app-resources-list>

  <!-- --next-steps-- -->
  <app-next-steps-list></app-next-steps-list>

  <!-- -- links -- -->
  <app-links-list></app-links-list>

  <!-- --Footer-- -->
  <app-footer-list></app-footer-list>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

