<!-- Content 6 Contact -->
<section id="contact" class="text-dark p-5 test-sm-start mt-5">
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-md">
              <h1 class="text-center mb-2">Contact Info</h1>
              <table class="table">
                  <tbody>
                  <tr>
                      <td><strong>Main Location :</strong> 50 Main st Boston MA</td>
                  </tr>
                  <tr>
                      <td><strong>Enrollment Phone :</strong> (5555) 555-55</td>
                  </tr>
                  <tr>
                      <td><strong>Student Phone :</strong> (3333) 333333</td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Enrollment Email :</strong> (3333)
                          enroll@frontendbc.test
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Student Email :</strong> student@frontendbc.test
                      </td>
                  </tr>
                  </tbody>
              </table>
          </div>
          <div class="col-md">
              <h2 class="text-center p-3 pt-lg-0">Contact Us</h2>
              <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nama</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Messages</label>
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
          </div>
      </div>
  </div>
</section>
